{% load static %}
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="theme-color" content="#000000">
      <meta name="description" content="APPER:: App Landing Page">
      <link rel="stylesheet" href="{% static 'landing/css/icofont.min.css' %}">
      <link rel="stylesheet" href="{% static 'landing/css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'landing/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'landing/css/aos.css' %}">
      <link rel="stylesheet" href="{% static 'landing/css/style.css' %}">
      <link rel="stylesheet" href="{% static 'landing/css/responsive.css' %}">
      <title>APPER:: App Landing Page</title>
      <link {% static 'landing/css/main.c38f9e94.css' %}" rel="stylesheet">
   </head>
   <body class="custom-cursor" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
      <div class="custom-cursor__cursor"></div>
      <div class="custom-cursor__cursor-two"></div>
      <div class="preloader">
         <div class="preloader__circle"></div>
      </div>
      <noscript>You need to enable JavaScript to run this app.</noscript>
      <div id="root" class="page-wrapper overflow-hidden">
         <header class="white_heade fix_style fixed header-wave">
            <div class="container">
               <nav class="navbar navbar-expand-lg">
                  <a class="navbar-brand" href=""><img style="width: 3.7em" src="{% static 'landing/images/logo.png' %}" alt="image" ></a>
                  
                  <div class="collapse navbar-collapse">
                     <ul class="navbar-nav ml-auto">
                        <li class="nav-item has_dropdown">
                           <a class="nav-link" href="#0">Home</a>
                        </li>

                     </ul>
                  </div>
            
               </nav>
            </div>
         </header>
         <section class="banner_section home-wave">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 col-md-12 aos-init aos-animate" data-aos="fade-right" data-aos-duration="1500">
                     <div class="banner_text">
                        <h1 style="font-size: 2.2em !important;">Unlock Substantial Financial Potential With Us.</h1>
                        <p>Dreaming of a major upgrade? MG Loan is here to make it happen. Our loans offer substantial funds for your biggest plans. Download now and turn your dreams into reality.</p>
                     </div>
                     <ul class="app_btn">
                        <li><a href="https://loanproject.fra1.digitaloceanspaces.com/app/mgloan.apk"><img class="blue_img" src="{% static 'landing/images/appstore_blue.png' %}" alt="image"><img class="white_img" src="{% static 'landing/images/appstore_white.png' %}" alt="image"></a></li>
                        <li><a href="https://loanproject.fra1.digitaloceanspaces.com/app/mgloan.apk"><img class="blue_img" src="{% static 'landing/images/googleplay_blue.png' %}" alt="image"><img class="white_img" src="{% static 'landing/images/googleplay_white.png' %}" alt="image"></a></li>
                     </ul>
                     <div class="used_app">
                        <ul>
                           
                        </ul>
                        <p><br></p>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-12 aos-init aos-animate" data-aos="fade-in" data-aos-duration="1500">
                     <div class="banner_image"><img class="moving_animation" src="{% static 'landing/images/banner-image.png' %}" alt="image"></div>
                  </div>
                  <span class="banner_shape1"> <img src="{% static 'landing/images/banner-shape1.png' %}" alt="image"> </span><span class="banner_shape2"> <img src="{% static 'landing/images/banner-shape3.png' %}" alt="image"> </span><span class="banner_shape3"> <img src="{% static 'landing/images/banner-shape3.png' %}" alt="image"> </span>
               </div>
            </div>
            <div class="home-wave-bottom">
               <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                  <defs>
                     <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                  </defs>
                  <g class="parallax">
                     <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7"></use>
                     <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)"></use>
                     <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)"></use>
                     <use xlink:href="#gentle-wave" x="48" y="7" fill="#f6f4fe"></use>
                  </g>
               </svg>
            </div>
         </section>
       
       
    
      </div>
      <script src="{% static 'landing/js/jquery.js' %}"></script>
      <script src="{% static 'landing/js/owl.carousel.min.js' %}"></script>
      <script src="{% static 'landing/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'landing/js/aos.js' %}"></script>
      <script src="{% static 'landing/js/main.js' %}"></script>
   </body>
</html>